html {
  	overflow-y: scroll;	
  	font-family: 'Montserrat', sans-serif;
}

div {
	box-sizing: border-box;
	border-style:solid;
	border-width:0px;
}

a {
	color: #3af;
}


.correct {
	background: lightgreen;
	transition: 0.5s;
} 

.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 300px;
    padding: 0 10px;
    background: #333333;
    color: #ddd;
	font-size: 1em;
    border: 0px solid #4D4F53;
	border-radius: 7px 7px 7px 7px;
    margin: 0px;
    -webkit-box-shadow: -4px 4px 15px 1px rgba(100, 100, 100, 0.5);
    box-shadow: -4px 4px 15px 1px rgba(100, 100, 100, 0.5);
}

.popbox p {
	padding-left: 7px;
}

.popbox h2
{
    background-color: #4D4F53;
    color:  #E3E5DD;
    font-size: 14px;
    display: block;
    width: 100%;
    margin: -10px 0px 8px -10px;
    padding: 5px 10px;
    border-radius: 0px 7px 0px 0px;
}

#congratulations_popup, #about_popup, #chrome_required_popup {
	z-index:6;
	visibility: hidden;
	position:fixed;
	left: 0px;
	top: 0px;
	background: rgba(10,10,10,0.9);
	width: 100%;
	height: 100%;
	font-size: 1.3em;
	color: white;
	padding: 10%;
}

#microphone_about_screenshot {
	padding-top: 10px;
	opacity: 0.9;
}

.navigation {
	position: fixed;
	background: #1D334E;
	height: 90px;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index:2;
	padding-left: 14%;
	font-size: 1.8em;
	font-weight: bold;
	color: white;
	opacity: 0.9;

}

.nav_title {
	width: 70%;
	float: left;
}

.nav_about {
	width: 14%;
	float: left;
	padding-right: 0.3%;
	cursor: pointer;
}

.nav_score {
	width: 14%;
	float: left;
	padding-right: 0.3%;
}

.footerAll {
	background: #ffffff;
	height: 120px;
	width: 100%;
	float: left;
	z-index:3;
}

.footerSpace {
	background: #ffffff;
	height: 1px;
	width: 100%;
	z-index:3;
}

.footerControl {
	background: #1D334E;
	height: 80px;
	width: 100%;
	z-index:3;
	color: white;
	padding-left: 14%;
	padding-top: 10px;
	font-size: large;
	position: fixed;
	bottom: 0;
}

.footer p {
	font-size: 1.0em;
	color: white;
}

.option {
	float: left;
	padding: 20px 40px;
}

.record_circle {
	display: inline-block;
	border-radius: 50%;
	background-color: #D62035;
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

.record_spacing {
	display: inline-block;
	width: 38%;
}

.record_instructions {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#start_button {
	width: 83%;
	height: 60px;
	background-color: rgba(0,0,0,0);
	border: none;
	color: #ddd;
	font-style: italic;
	padding: 10px;
	border-radius: 10px;
	opacity: 0;
	cursor: pointer;
	transition:.2s;
}

#start_button:hover {
	background-color: rgba(147, 196, 249, 0.1);
	border-radius: 10px;
	transition:.2s;
}

#start_button div {
	float: left;
	padding: 10px;
	cursor: pointer;
}

.reload_page {
	cursor: pointer;
}

.container{
	width: 80%;
}

.space {
	margin-top: 100px;
	width: 100%;
}

.chatArea {
	float: left;
	padding: 2%;
	width: 100%;
/*
 	background: yellow; 
*/ 	
}

.speechBlock {
	float: left;
	display: block;
/* 
 	background: lightgrey; 
*/ 	
	width: 100%;
}


p.speech {
	font-family: 'Hammersmith One', sans-serif;
}

/* SPEECH BUBBLES, from http://www.ilikepixels.co.uk/drop/bubbler/ */
.bubbleHuman 
{
	position: relative;
	height: 120px;
	padding: 0 2%;
	margin: 0 2%;
	/*margin: 30px;*/
	background: #BCD659;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	-webkit-box-shadow: 2px 2px 15px 0px rgba(48, 50, 44, 0.25);
	-moz-box-shadow:    2px 2px 15px 0px rgba(48, 50, 44, 0.25);
	box-shadow:         2px 2px 15px 0px rgba(48, 50, 44, 0.25);
	opacity: 0.5;
	transition:.5s;
	font-size: 1.3em;
}

.bubbleHumanThreeFit
{
	width: 29%;
}
.bubbleHumanTwoFit
{
	width: 45%;
}
.bubbleHumanOneFit
{
	width: 95%;
}
.bubbleHumanHidden {
	display: None;
}



.bubbleHuman:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 0px 20px 20px;
	border-color: transparent #BCD659;
	display: block;
	width: 0;
	z-index: 1;
	right: -20px;
	top: 45px;
	opacity: 0.75;
	transition:.5s;
}

.bubbleHuman:hover {
	background-color: #8CC639;
	transition:.5s;
}

.bubbleHuman:hover:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 0px 20px 20px;
	border-color: transparent #7CC629;
	display: block;
	width: 0;
	z-index: 1;
	right: -19px;
	top: 45px;
	opacity: 0.75;
	transition:.5s;
}

.bubbleBot 
{
	position: relative;
	width: 98%;
	height: 120px;
	padding: 1% 2%;
	background: #9BB0D7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: -2px 2px 15px 0px rgba(48, 50, 44, 0.25);
	-moz-box-shadow:    -2px 2px 15px 0px rgba(48, 50, 44, 0.25);
	box-shadow:         -2px 2px 15px 0px rgba(48, 50, 44, 0.25);
	transition:.5s;
	font-size: 1.4em;
}

.bubbleBot:hover {
	background-color: #7B90D7;
	transition:.5s;
}

.bubbleBot:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 20px 20px 0px;
	border-color: transparent #9BB0D7;
	display: block;
	width: 0;
	z-index: 1;
	left: -19px;
	top: 45px;
	transition:.5s;
}


.bubbleBot:hover:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 20px 20px 0px;
	border-color: transparent #7B90D7;
	display: block;
	width: 0;
	z-index: 1;
	left: -19px;
	top: 45px;
	transition:.5s;
}

@media screen and (max-width: 900px) {
	html {
  	font-size: 0.8em;
	}
}

@media screen and (max-width: 700px) {
	html {
  	font-size: 0.6em;
	}
}
